
  <div class="container">
    <h1><span id="banner-typed-text"></span></h1>
    <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-light btn-lg mt-3" %>
    <a href="#scroll" class="btn btn-light btn-lg mt-3 ml-3">Our Menu</a>
  </div>



